[Unit]
Description=NEXTJS server service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=nextjs
ExecStart=docker run ella

[Install]
WantedBy=multi-user.target